.agents {
  padding: 0 350px;

  &__info {
    padding: 46px 59px 35px 59px;
    margin: 36px 0;

    border-radius: 5px;
    background: rgb(255, 255, 255);

    &-contents {
      color: rgb(51, 54, 64);
      font-size: 22px;
      font-weight: 500;

      margin: 0 0 20px;
    }

    &-description {
      color: rgb(69, 73, 87);
      font-size: 18px;
      font-weight: 400;

      margin: 0 0 30px;
    }

    &-list {
      display: flex;
      justify-content: space-between;
    }

    &-card {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 250px;

      & img {
        width: 80px;
        height: 80px;
      }

      &_label {
        color: rgb(51, 54, 64);
        font-size: 24px;
        font-weight: 400;
      }

      &_description {
        text-align: center;
        color: rgb(51, 54, 64);
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  &__why {
    padding: 46px 66px 35px 60px;
    margin: 0 0 36px;

    border-radius: 5px;
    background: rgb(255, 255, 255);

    &-contents {
      color: rgb(51, 54, 64);
      font-size: 22px;
      font-weight: 500;

      margin: 0 0 20px;
    }

    &-description {
      color: rgb(69, 73, 87);
      font-size: 18px;
      font-weight: 400;

      margin: 0 0 32px;
    }

    &-list {
      display: flex;
      justify-content: space-between;
    }

    &-card {
      display: flex;
      align-items: flex-start;

      & img {
        margin: 0 18px 0 0;
      }

      &_text {
        display: flex;
        flex-direction: column;

        &_label {
          width: 173px;

          color: rgb(51, 54, 64);
          font-size: 18px;
          font-weight: 500;

          margin: 0 0 12px;
        }

        &_description {
          width: 173px;

          color: rgb(51, 54, 64);
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }

  &__communicate {
    padding: 46px 0 69px 60px;
    margin: 0 0 36px;

    border-radius: 5px;
    background: rgb(255, 255, 255);

    &-contents {
      color: rgb(51, 54, 64);
      font-size: 22px;
      font-weight: 500;

      margin: 0 0 45px;
    }

    &-inputs {
      display: flex;
      justify-content: space-between;

      width: 505px;

      &_input {
        width: 250px;
        padding: 18px 0 19px 15px;

        border-radius: 5px;
        border: 1px solid rgb(158, 168, 202);
        background: rgb(242, 246, 250);

        color: rgb(51, 54, 64);
        font-size: 18px;
        font-weight: 400;
      }

      &_button {
        padding: 19.5px 50px;

        border-radius: 5px;
        background: rgb(249, 221, 0);
        border: 0;
        cursor: pointer;

        color: rgb(69, 73, 87);
        font-size: 18px;
        font-weight: 400;
      }
    }

    &-description {
      width: 505px;
      text-align: justify;

      color: rgb(69, 73, 87);
      font-size: 15px;
      font-weight: 400;

      margin: 12px 0 0;
    }
  }
}
